node_modules
!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
explorations
playground-temp
temp
TODOs.md
.eslintcache
